.layout {
    flex-grow: 1;
    width: 60%;
    margin-left: 20%;
    margin-top: 50px;
}

.box-radio {
    padding-left: 10%
}

.aria-text {
    width: 50%;
}

.btn-add {
    margin-left: 10px !important;
}